.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.post p {
  margin-bottom: 10px;
}

.post button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.post button:hover {
  background-color: #3578e8;
}

.comment-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-form input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.comment-form button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #5370a2;
}
.cursor--small,
.cursor--large,
.cursor--text {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
}

.cursor--text {
  --cursor-size: fit-content;
  font-size: 0.75rem;
  color: #cf7979;
  opacity: 0;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
}

.cursor--small {
  --cursor-size: 20px;
  background: #964444;
}

.cursor--large {
  --cursor-size: 60px;
  border: 2px solid #ab5151;
}
